  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    

  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;

    margin-top: -10px;

  }
  .heading_div2
  {
    font-size: 15px ;

  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .copy_right_footer{
    background-color: grey;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    line-height: 3;
  }

  canvas{
    border: solid 2px black;
    box-shadow: 5px 5px grey;
    margin-top: 130px;
  }
 

h3{
  height: 170px;

}

